form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

textarea.field:first-of-type {
  height: 220px;
}

.field div {
  margin-top: 5px;
  color: red;
  font-size: 20px;
}

form label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

form textarea {
  min-height: 165px;
  height: 165px;
  width: 500px;
  font-size: 24px;
  border-radius: 8px;
  padding: 8px;
}

form .publish-btn {
  background-color: #0076ff;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}
